<footer class="footer">
  <div class="container">
    <div class="adaptive-box footer--logo">
      <picture>
        <source srcset="images/footer/logo_lg.png, images/footer/logo_lg@2x.png 2x" media="(min-width: 768px)">
        <img class="adaptive-box__image lazy" data-src="images/footer/logo.png" src="images/global/lazyload.png"
             srcset="images/footer/logo@2x.png 2x" alt="" loading="lazy"/>
      </picture>
    </div>
    <nav class="footer--menu">
      <a href="#" data-modal-open="term-of-use">Term of use</a>
    </nav>
    <button class="btn btn--primary btn--size-md" data-modal-open="modal-form">Get Started</button>
  </div>
</footer>
