<header class="header" data-role="menu">
  <div class="container">
    <div class="adaptive-box header--logo">
      <picture>
        <source srcset="images/header/logo_lg.png, images/header/logo_lg@2x.png 2x" media="(min-width: 768px)">
        <img class="adaptive-box__image lazy" data-src="images/header/logo.png" src="images/global/lazyload.png"
             srcset="images/header/logo@2x.png 2x" alt="" loading="lazy"/>
      </picture>
    </div>
    <nav class="header--menu" data-role="float-menu">
      <a class="scroll" href="#advantages">Home</a>
      <a class="scroll" href="#needs">About us</a>
      <a class="scroll" href="#features">Work</a>
      <a class="scroll" href="#modules">Info</a>
      <button class="btn btn--primary btn--size-md" data-modal-open="modal-form">Get Started</button>
    </nav>
  </div>
</header>
<a class="sandwich-btn" href="#" data-role="toggle-float-menu">
  <span class="sandwich-btn--line"></span>
  <span class="sandwich-btn--line"></span>
  <span class="sandwich-btn--line"></span>
</a>
<a class="phone-btn" href="#">
  <img class="lazy"data-src="images/header/phone-icon.png" src="images/global/lazyload.png" srcset="images/header/phone-icon@2x.png" alt="">
</a>

