.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: size(379);
  padding: size(41) size(16) size(79) size(36);
  background: #fff center / cover no-repeat;
  box-shadow: 0 size(3) size(3) rgba(0, 0, 0, .12);
  border-radius: size(13);
  @for $i from 1 through 6 {
    &_#{$i} {
      background-image: url(../images/advantages/clouds_#{$i}.png);
      @include retina() {
        background-image: url(../images/advantages/clouds_#{$i}@2x.png);
      }
    }
  }
  @include media(md) {
    justify-content: flex-start;
    min-height: 0;
  }
  @include media(lg) {
    padding: size(73) size(28) size(128) size(55);
  }
  &--title {
    font-size: size(16);
    &:not(:last-child) {
      margin-bottom: size(20);
    }
    @include media(lg) {
      font-size: size(25);
    }
  }
  .adaptive-box {
    width: size(86);
    height: size(84);
    margin-bottom: size(29);
    @include media(lg) {
      width: size(132);
      height: size(93);
      margin-bottom: size(49);
    }
    &__image {
      object-position: left center;
      object-fit: contain;
    }
  }
}
.advantages {
  padding-top: size(60);
  @include media(md) {
    padding-top: size(102);
  }
  @include media(lg) {
    padding-top: size(130);
  }
}

