.client-manager {
  padding-top: size(70);
  @include media(md) {
    padding-top: size(120);
  }
  @include media(lg) {
    padding-top: size(240);
  }
  &--grid {
    display: grid;
    grid-template-areas: "details" "image";
    align-items: center;
    grid-row-gap: size(55);
    @include media(lg) {
      grid-template-columns: size(877) 1fr;
      grid-column-gap: size(80);
      grid-template-areas: "image details";
    }
  }
  &--details {
    grid-area: details;
    display: grid;
    @include media(lg) {
      //padding-top: size(47);
    }
  }
  &--image {
    --adaptive-box: #{height(1502,920)};
    grid-area: image;
    max-width: none;
    z-index: -1;
    @include media(lg) {
      width: size(1502);
      margin-top: size(32);
      justify-self: right;
    }
  }
  &--title {
    margin-bottom: size(20);
    font-size: size(25);
    @include media(lg) {
      margin-bottom: size(20);
      font-size: size(25);
    }
  }
  .title--size-lg {
    &:not(:last-child) {
      margin-bottom: size(20);
    }
    @include media(lg) {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: size(45);
      }
    }
  }
  .title--size-sm {
    &:not(:last-child) {
      margin-bottom: size(20);
    }
  }
  .text {
    max-width: size(927);
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: size(25);
    }
    @include media(lg) {
      text-align: center;
      &:not(:last-child) {
        //margin-bottom: size(28);
        margin-bottom: size(75);
      }
    }
  }
  .list {
    &:not(:last-child) {
      margin-bottom: size(35);
    }
    @include media(lg) {
      &:not(:last-child) {
        margin-bottom: size(95);
      }
    }
  }
  .btn {
    width: 100%;
    @include media(md) {
      width: auto;
    }
  }
}
