.cover {
    padding-top: size(86);
    @include media(md) {
        padding-top: size(147);
    }
    @include media(lg) {
        padding-top: size(224);
    }
    &--image {
        --adaptive-box: #{height(861,507)};
        width: calc(100% + 40px);
        max-width: none;
        margin: 0 size(-20);
        @include media(lg) {
            margin: 0;
            width: size(861);
        }
    }
    .grid {
        grid-row-gap: size(60);
    }
    .title--size-lg {
        &:not(:last-child) {
            margin-bottom: .86em;
        }
        @include media(md) {
            font-size: size(60);
        }
        @include media(lg) {
            font-size: size(97);
            &:not(:last-child) {
                margin-bottom: .54em;
            }
        }
    }
}
