.customize {
  padding-top: size(70);
  @include media(md) {
    padding-top: size(120);
  }
  @include media(lg) {
    padding-top: size(231);
  }
  &--image {
    --adaptive-box: #{height(1011,596)};
    width: calc(100% + size(40));
    max-width: none;
    margin: size(30) size(-20) 0;
    @include media(lg) {
      width: size(1011);
      margin: 0;
    }
  }
  .title--size-lg {
    &:not(:last-child) {
      margin-bottom: size(25);
    }
    @include media(lg) {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: size(105);
      }
    }
  }
  .title--size-sm {
    &:not(:last-child) {
      margin-bottom: size(10);
    }
    @include media(lg) {
      &:not(:last-child) {
        margin-bottom: size(25);
      }
    }
  }
  .text {
    &:not(:last-child) {
      margin-bottom: size(30);
    }
    @include media(lg) {
      &:not(:last-child) {
        margin-bottom: size(85);
      }
    }
  }
  .btn {
    width: 100%;
    @include media(md) {
      width: auto;
    }
  }
}
