.feature {
  height: 100%;
  padding: size(35) size(35) size(40);
  background: #fff;
  box-shadow: 0 size(4) size(4) rgba(0, 0, 0, .12);
  border-radius: size(20);
  @include media(lg) {
    padding: size(64) size(52) size(71) size(75);
  }
  &--title {
    font-size: size(16);
    font-weight: 600;
    @include media(lg) {
      font-size: size(25);
    }
    &:not(:last-child) {
      margin-bottom: size(10);
      @include media(lg) {
        margin-bottom: size(15);
      }
    }
  }
  &--description {
    font-size: size(12);
    @include media(lg) {
      font-size: size(16);
    }
  }
  .adaptive-box {
    width: size(90);
    height: size(90);
    margin-bottom: size(15);
    @include media(lg) {
      width: size(123);
      height: size(123);
      margin-bottom: size(25);
    }
    &__image {
      object-position: center;
      object-fit: contain;
    }
  }
}
.features {
  padding-top: size(70);
  @include media(md) {
    padding-top: size(120);
  }
  @include media(lg) {
    padding-top: size(240);
  }
  &--grid {
    display: grid;
    grid-template-areas: "image" "title" "tile";
    align-items: center;
    @include media(lg) {
      grid-template-areas: "title title" "image tile";
      grid-template-columns: size(521) 1fr;
      grid-column-gap: size(95);
    }
  }
  &--image {
    --adaptive-box: #{height(710,855)};
    grid-area: image;
    width: calc(100% + 60px);
    max-width: none;
    margin: 0 -30px size(96);
    z-index: -1;
    @include media(lg) {
      width: size(710);
      justify-self: right;
      margin: 0;
    }
  }
  &--tile {
    grid-area: tile;
  }
  .title--size-lg {
    grid-area: title;
    &:not(:last-child) {
      margin-bottom: size(40);
    }
    @include media(lg) {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: size(55);
      }
    }
  }
}
