.feedback {
  padding: size(44) 0 size(36);
  @include media(lg) {
    padding: size(88) 0 size(74);
  }
  .form {
    padding: size(30) size(20);
    background: #203e7e url(../images/feedback/form-bg.png) center / cover no-repeat;
    border-radius: size(30);
    @include media(lg) {
      padding: size(94) size(80);
      border-radius: size(60);
    }
  }
  &--content {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    &-title {
      margin-bottom: size(20);
      font-size: size(24);
      font-weight: 600;
      @include media(lg) {
        font-size: size(46);
      }
    }
    &-subtitle {
      margin-bottom: size(15);
      font-size: size(18);
      font-weight: 600;
      @include media(lg) {
        font-size: size(24);
      }
    }
    &-text {
      margin-top: auto;
      font-size: size(16);
      @include media(lg) {
        font-size: size(18);
      }
    }
  }
}
