.fleet-manager {
  overflow: hidden;
  padding-top: size(70);
  padding-bottom: size(60);
  @include media(md) {
    padding-top: size(120);
    padding-bottom: size(135);
  }
  @include media(lg) {
    padding-top: size(117);
  }
  &--image {
    --adaptive-box: #{height(1308,772)};
    width: calc(100% + 40px);
    max-width: none;
    margin: size(15) -20px 0;
    @include media(lg) {
      width: size(1308);
      margin: 0;
    }
  }
  .title--size-sm {
    &:not(:last-child) {
      margin-bottom: size(20);
    }
  }
  .title--size-lg {
    &:not(:last-child) {
      margin-bottom: size(20);
    }
    @include media(lg) {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: size(110);
      }
    }
  }
  .text {
    &:not(:last-child) {
      margin-bottom: size(25);
    }
    @include media(lg) {
      &:not(:last-child) {
        margin-bottom: size(55);
      }
    }
  }
  .list {
    &:not(:last-child) {
      margin-bottom: size(35);
    }
    @include media(lg) {
      &:not(:last-child) {
        margin-bottom: size(44);
      }
    }
  }
  .btn {
    width: 100%;
    @include media(md) {
      width: auto;
    }
  }
}
