.modules {
  padding-top: size(70);
  @include media(md) {
    padding-top: size(120);
  }
  @include media(lg) {
    padding-top: size(212);
  }
  &--table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: size(1093);
    padding: size(49) size(46) size(57) size(39);
    font-size: size(25);
    background: #fff;
    box-shadow: 0 size(4) size(4) rgba(0, 0, 0, .12);
    border-radius: size(20);
    @include media(lg) {
      padding-left: size(61);
      padding-right: size(68);
    }
    &-header {
      padding-bottom: size(32);
      font-weight: 600;
      &:not(:nth-child(3n+1)) {
        text-align: center;
        border-left: #e6e6e6 size(1) solid;
      }
    }
    &-cell {
      padding-top: size(25);
      border-top: #e6e6e6 size(1) solid;
      &.pb {
        padding-bottom: size(28);
      }
      &:not(:nth-child(3n+1)) {
        text-align: center;
        border-left: #e6e6e6 size(1) solid;
      }

    }
    &-yes {
      display: inline-block;
      vertical-align: middle;
      fill: #2fac66;
      stroke: #2fac66;
    }
    &-no {
      display: inline-block;
      vertical-align: middle;
      fill: #dedede;
    }
    &-wrapper {
      margin: 0 -20px;
      padding: size(20);
      overflow-x: auto;
    }
  }
  .title--size-lg {
    &:not(:last-child) {
      margin-bottom: size(25);
    }
    @include media(lg) {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: size(96);
      }
    }
  }
}
