.needs {
  padding-top: size(70);
  @include media(md) {
    padding-top: size(120);
  }
  @include media(lg) {
    padding-top: size(240);
  }
  &--item {
    display: grid;
    align-items: center;
    grid-gap: size(30) size(35);
    @include media(xl) {
      grid-template-columns: auto 1fr;
    }
    &-title {
      font-size: size(16);
      font-weight: 600;
      @include media(lg) {
        font-size: size(25);
      }
      &:not(:last-child) {
        margin-bottom: size(10);
        @include media(lg) {
          margin-bottom: size(15);
        }
      }
    }
    &-description {
      font-size: size(12);
      @include media(lg) {
        font-size: size(16);
      }
      &:not(:last-child) {
        margin-bottom: size(10);
        @include media(lg) {
          margin-bottom: size(15);
        }
      }
    }
  }
  .grid {
    --grid-gap-y: #{size(49)};
    @include media(lg) {
      --grid-gap-x: #{size(141)};
    }
  }
  .title--size-lg {
    &:not(:last-child) {
      margin-bottom:size(55);
    }
    @include media(lg) {
      text-align: center;
      &:not(:last-child) {
        margin-bottom:size(77);
      }
    }
  }
  .adaptive-box {
    width:size(100);
    height:size(100);
    @include media(lg) {
      width:size(150);
      height:size(150);
    }
    &__image {
      object-position: center;
      object-fit: contain;
    }
  }
}
