.planing {
  overflow: hidden;
  padding-top: size(70);
  @include media(md) {
    padding-top: size(120);
  }
  @include media(lg) {
    padding-top: size(135);
  }
  &--image {
    --adaptive-box: #{height(898,605)};
    max-width: none;
    margin-top: size(30);
    @include media(lg) {
      width: size(898);
      margin: 0;
    }
  }
  .title--size-sm {
    &:not(:last-child) {
      margin-bottom: size(30);
    }
    @include media(lg) {
      &:not(:last-child) {
        margin-bottom: size(13);
      }
    }
  }
  .title--size-lg {
    &:not(:last-child) {
      margin-bottom: size(20);
    }
    @include media(lg) {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: size(69);
      }
    }
  }
  .text {
    &:not(:last-child) {
      margin-bottom: size(35);
    }
    @include media(lg) {
      &:not(:last-child) {
        margin-bottom: size(85);
      }
    }
  }
  .list {
    &:not(:last-child) {
      margin-bottom: size(35);
    }
    @include media(lg) {
      &:not(:last-child) {
        margin-bottom: size(50);
      }
    }
  }
  .btn {
    width: 100%;
    @include media(md) {
      width: auto;
    }
  }
}
