.sandwich-btn {
  width: size(36);
  height: size(36);
  position: fixed;
  left: size(14);
  top: size(10);
  background: rgba(255,255,255,.5);
  border-radius: 50%;
  z-index: 99;
  &--line {
    display: block;
    width: 24px;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -12px;
    background: #505050;
    border-radius: 2px;
    transition: transform .4s;
    &:nth-child(1) {
      transform: translateY(-5px);
    }
    &:nth-child(3) {
      transform: translateY(5px);
    }
  }
  &.active {
    .sandwich-btn--line {
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: scale(0);
      }
      &:nth-child(3) {
        transform: rotate(135deg);
      }
    }
  }
  @include media(lg) {
    display: none;
  }
}
