$btn-bg: #ee4800;
$btn-bg-hover: linear-gradient(121.7deg, #e6f6ff 2.72%, #2ab7fa 99.88%), #78d2fd;
$btn-color: #fff;
$btn-color-hover: #fff;
$btn-color-outline: currentColor;

.btn {
    position: relative;
    text-decoration: none;
    transition-duration: $td;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
