.btn--primary {
    overflow: hidden;
    --dp-flex: flex;
    display: var(--dp-flex);
    align-items: center;
    justify-content: center;
    grid-gap: .74em;
    position: relative;
    font-weight: 700;
    border-radius: 65px;
    background:  $btn-bg-hover;
    color: $btn-color;
    z-index: 1;
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: $btn-bg;
        transition: $td;
        opacity: 1;
        z-index: -1;
    }
    .icon {
        color: $btn-color;
    }
    @media (pointer: fine) {
        &:hover:after {
            opacity: 0;
        }
    }
    &:active:after {
        opacity: 0;
    }
}
