.btn--size {
    &-md {
        min-width: size(200);
        font-size: size(14);
        line-height: 1.2;
        padding: size(20) size(41);
        @include media(lg) {
            font-size: size(20);
            padding: size(20) size(41);
        }
    }
}
