.ecp-modal_form {
    max-width: size(600);
    background: #203e7e;
    .form {
        padding: size(20) 0;
        @include media(lg) {
            padding: size(40) 0;
        }
    }
    &--title {
        font-size: size(24);
        font-weight: 600;
        text-align: center;
        color: #fff;
        @include media(lg) {
            font-size: size(46);
        }
        &:not(:last-child) {
            margin-bottom: size(10);
            @include media(lg) {
                margin-bottom: size(20);
            }
        }
    }
    &--subtitle {
        font-size: size(18);
        font-weight: 600;
        text-align: center;
        color: #fff;
        @include media(lg) {
            font-size: size(24);
        }
    }
    &--text {
        margin-top: auto;
        font-size: size(16);
        text-align: center;
        color: #fff;
        @include media(lg) {
            font-size: size(18);
        }
    }
}
