.ecp-modal {
    width: calc(100% - 30px);
    margin: size(50) auto;
    position: relative;
    padding: size(45) size(20) size(30);
    border-radius: size(30);
    @include media(lg) {
        padding: size(90) size(60) size(60);
        border-radius: size(64);
    }
    a {
        color: #00a1dd;
        transition: .4s;
        &:hover {
            color: #ee4800;
        }
    }
    &--title {
        font-size: size(20);
        text-transform: uppercase;
        color: #203e7e;
        @include media(lg) {
            font-size: size(36);
        }
        &:not(:last-child) {
            margin-bottom: size(15);
            @include media(lg) {
                margin-bottom: size(30);
            }
        }
    }
    &--subtitle {
        font-size: size(24);
        color: #203e7e;
        @include media(lg) {
            font-size: size(18);
        }
        &:not(:last-child) {
            margin-bottom: size(25);
            @include media(lg) {
                margin-bottom: size(13);
            }
        }
    }
    &--text {
        font-size: size(16);
        line-height: 1.5;
        @include media(lg) {
            font-size: size(18);
        }
        &:not(:last-child) {
            margin-bottom: size(20);
            @include media(lg) {
                margin-bottom: size(10);
            }
        }
    }
    &--list {
        padding-left: size(15);
        font-size: size(16);
        line-height: 1.5;
        list-style: disc;
        @include media(lg) {
            padding-left: size(30);
            font-size: size(18);
        }
        &:not(:last-child) {
            margin-bottom: size(20);
            @include media(lg) {
                margin-bottom: size(10);
            }
        }
        li {
            &:not(:last-child) {
                margin-bottom: size(15);
                @include media(lg) {
                    margin-bottom: size(8);
                }
            }
        }
    }
    &--close {
        position: absolute;
        right: 0;
        top: 0;
        padding: size(12);
        background: #182e5d;
        border-radius: 50%;
        @include media(lg) {
            right: size(30);
            top: size(30);
        }
        .icon {
            width: size(24);
            height: size(24);
            fill: #ee4800;
        }
    }
    &--wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        display: none;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
    }
}
