.footer {
  background: #fff;
  @include media(lg) {
    border-top: #ebf1ff 2px solid;
  }
  &--logo {
    --adaptive-box: #{height(202,84)};
    width: size(125);
    @include media(lg) {
      width: size(202);
    }
  }
  &--menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: size(20);
    color: #868686;
    @include media(lg) {
      flex-direction: row;
      justify-content: flex-end;
    }
    a {
      color: inherit;
      transition: .4s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: size(45);
    padding: size(55) 0 size(58);
    border-top: #ebf1ff 2px solid;
    @include media(lg) {
      flex-direction: row;
      justify-content: space-between;
      padding: size(60) 0 size(64);
      border: none;
    }
  }
}
