.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: size(10) 0;
  @include media(lg) {
    padding: size(33) 0;
    transition: transform .4s, box-shadow .4s;
    &.fixed {
      top: auto;
      bottom: 100%;
      padding: size(15) 0;
      background: rgba(255,255,255,.9);
      backdrop-filter: blur(5px);
      position: fixed;
      z-index: 97;
    }
    &.show {
      transform: translateY(100%);
      box-shadow: 0 3px 3px rgba(0, 0, 0, .12);
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--logo {
    --adaptive-box: #{height(202,84)};
    width: size(87);
    margin: 0 auto;
    @include media(lg) {
      width: size(202);
      margin-left: 0;
    }
  }
  &--menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: size(440);
    height: 100vh;
    position: fixed;
    right: 100%;
    top: 0;
    padding: size(105) size(65) size(40) size(22);
    font-size: size(20);
    text-align: center;
    color: #868686;
    transition: .4s;
    z-index: 98;
    &.show {
      background: #fff;
      box-shadow: 5px 0 15px rgba(0, 0, 0, .12);
      transform: translateX(100%);
      @include media(lg) {
        box-shadow: none;
        transform: none;
      }
    }
    @include media(lg) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: auto;
      max-width: none;
      height: auto;
      position: static;
      padding: 0;
    }
    a {
      font-weight: 600;
      color: #203e7e;
      transition: .4s;
      margin-bottom: size(21);
      @include media(lg) {
        margin-bottom: 0;
        margin-right: size(88);
      }
      &:not(:first-child) {
        padding-top: size(30);
        border-top: #ebf1ff 1px solid;
        @include media(lg) {
          padding: 0;
          border: none;
        }
      }
      &:hover {
        color: #ee4800;
      }
    }
    .btn {
      margin-top: size(16);
      @include media(lg) {
        margin: 0;
      }
    }
  }
}
