.list {
  padding-left: 1em;
  font-size: size(12);
  @include media(lg) {
    font-size: size(16);
  }
  li {
    &:before {
      content: '';
      width: .44em;
      height: .44em;
      float: left;
      margin: .4em 0 0 -1em;
      background: linear-gradient(121.7deg, #e6f6ff 2.72%, #2ab7fa 99.88%), #78d2fd;
      border-radius: 50%;
      //@include media(lg) {
      //  margin-top: 6px;
      //}
    }
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}
