.title {
    --dp-block: block;
    display: var(--dp-block);
    font-weight: 700;
    line-height: 1.15;
    //color: #fff;
    //font-family: $font;
    //text-transform: uppercase;
    word-wrap: break-word;

    //? theme
    //&--white {
    //    color: #fff;
    //}

    //* размеры
    &--size {
        &-sm {
            font-size: size(25);
            font-weight: 600;
            @include media(lg) {
                font-size: size(30);
            }
        }
        //&-md {
        //    font-size: size(24);
        //    @include media(lg) {
        //        font-size: size(56);
        //    }
        //}
        &-lg {
            font-size: size(35);
            font-weight: 600;
            @include media(lg) {
                font-size: size(97);
            }
        }
    }
    //* стиль
}


// font-feature-settings: 'pnum' on, 'lnum' on;
