.adaptive-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    --dp-block: block;
    display: var(--dp-block);
    &:after {
        content: '';
        padding: 0px 0px var(--adaptive-box) 0px;
        width: 100%;
        display: block;
    }
    //& > * {
    //    position: absolute;
    //}
    &__image,
    &__item {
        z-index: 2;
        width: 100%;
        height:100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    &__image {
        object-fit: cover;
    }
}
