.icon {
    width: 1em;
    height: 1em;
    --dp-block: block;
    display: var(--dp-block);
    flex: 0 0 auto;
    fill: currentColor;
    transition: all $td 0s;
    position: relative;
    object-position: center;
    object-fit: contain;
    &--no-fill {
        fill: none;
    }
    &--stroke {
        stroke: currentColor;
    }
    &--only-stroke {
        fill: none;
        stroke: currentColor;
    }
}
