<div id="modal-form" class="ecp-modal--wrapper">
  <div class="ecp-modal ecp-modal_form modal-target">
    <button class="ecp-modal--close modal__close">
      <svg class="icon">
        <use xlink:href="svg-sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="ecp-modal_form--title">Book a consultation</div>
    <div class="ecp-modal_form--subtitle">Answer within 15 minutes</div>
    <form id="form-modal" class="form js-form">
      <label class="form-field">
        <input class="form-field__input" placeholder="Name" type="text" name="name" required>
        <span class="form-field__text">Name <span>*</span></span>
        <span class="form-field__required">Enter a name</span>
      </label>
      <label class="form-field">
        <input class="form-field__input form-phone" placeholder="phone" type="tel" name="phone" required>
        <span class="form-field__text">Phone <span>*</span></span>
        <span class="form-field__required">Specify phone</span>
      </label>
      <label class="form-field">
        <input class="form-field__input" placeholder="email" type="email" name="email" required>
        <span class="form-field__text">Email <span>*</span></span>
        <span class="form-field__required">Specify email</span>
        <span class="form-field__email">Invalid email</span>
      </label>
      <label class="form-field">
        <input class="form-field__input" placeholder="Message" type="text" name="message" required>
        <span class="form-field__text">Message <span>*</span></span>
        <span class="form-field__required">Write something...</span>
      </label>
      <div class="form-send">
        <div class="form-send__message">
          <div class="form-send__loading"><span></span></div>
          <p class="form-send__success">Thank you, your application has been accepted. The manager will contact you
            shortly</p>
          <p class="form-send__error">Something went wrong. Application not sent.</p>
        </div>
        <button type="submit" class="form-send__btn btn btn--primary btn--size-md">Get started</button>
      </div>
    </form>
    <div class="ecp-modal_form--text">By&nbsp;clicking, you consent to&nbsp;the processing<br> of&nbsp;your personal data</div>
  </div>
</div>
