<div id="term-of-use" class="ecp-modal--wrapper">
  <div class="ecp-modal ecp-modal_term modal-target">
    <button class="ecp-modal--close modal__close">
      <svg class="icon">
        <use xlink:href="svg-sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="ecp-modal--content">
      <h2 class="ecp-modal--title">Please read these terms of&nbsp;use agreement carefully before using the
        website.</h2>
      <p class="ecp-modal--text">If&nbsp;you do&nbsp;not agree to&nbsp;this Terms of&nbsp;Use Agreement or&nbsp;anything
        contained in&nbsp;this Terms of&nbsp;Use Agreement, do&nbsp;not access or&nbsp;otherwise use this Website.
        <b>HubCloud Inc.</b> (together with its subsidiaries and affiliates, herein referred to&nbsp;as&nbsp;&laquo;Company,&raquo;
        &laquo;we&raquo; and&nbsp;&laquo;us&raquo;) provides the <a href="https://hubcloud.io/">www.hubcloud.io</a> website and the website-related service
        (collectively, the &laquo;Website&raquo;) subject to&nbsp;your compliance with the terms and conditions set
        forth in&nbsp;this Terms of&nbsp;Use Agreement (as&nbsp;defined below). Your use of&nbsp;the Website and
        Materials (as&nbsp;defined below) contained on&nbsp;the Website is&nbsp;conditioned on&nbsp;your acceptance
        without modification of&nbsp;the terms, conditions, and notices contained in&nbsp;this Terms of&nbsp;Use
        Agreement (the &laquo;Terms of&nbsp;Use Agreement&raquo;) and the Company&rsquo;s Privacy Policy (the &laquo;Privacy
        Policy&raquo;) which shall collectively be&nbsp;referred to&nbsp;herein as&nbsp;the &laquo;Terms of&nbsp;Use&raquo;
        unless specifically stated otherwise. By&nbsp;using the Website you agree to&nbsp;the Terms of&nbsp;Use and to&nbsp;abide
        by&nbsp;all rules, terms, conditions, restrictions and notices therein.</p>
      <p class="ecp-modal--text">Company reserves the right at&nbsp;any time to&nbsp;change the Terms of&nbsp;Use,
        or&nbsp;change the Website, including terminating, eliminating, supplementing, modifying, adding to&nbsp;or&nbsp;discontinuing
        any content, promotion, data on&nbsp;or&nbsp;feature of&nbsp;the Website.</p>
      <p class="ecp-modal--text">Please check the Terms of&nbsp;Use periodically for changes. If&nbsp;we&nbsp;need
        to&nbsp;update our Terms of&nbsp;Use in&nbsp;the future, we&nbsp;will post the revised Terms of&nbsp;Use on&nbsp;the
        Website and update the &laquo;Last Updated&raquo; date to&nbsp;reflect the date the Terms of&nbsp;Use was
        updated. YOU ARE HEREBY ADVISED THAT YOUR CONTINUED USE OF&nbsp;THE WEBSITE CONSTITUTES YOUR ACCEPTANCE OF&nbsp;THE
        TERMS OF&nbsp;USE, AND ANY APPLICABLE CURRENT AND PRIOR VERSIONS, AND ANY AMENDMENTS THERETO. If&nbsp;any of&nbsp;these
        rules, terms conditions and restrictions or&nbsp;any future changes are unacceptable to&nbsp;you, you should
        immediately discontinue use of&nbsp;the Website. Your continued use of&nbsp;the Website now, or&nbsp;following
        the posting of&nbsp;notice of&nbsp;any changes to&nbsp;the Terms of&nbsp;Use, will indicate acceptance by&nbsp;you
        of&nbsp;such rules, changes and/or modifications. Be&nbsp;sure to&nbsp;return to&nbsp;this page periodically to&nbsp;ensure
        familiarity with the most current version of&nbsp;the Terms of&nbsp;Use.</p>
      <h3 class="ecp-modal--subtitle">Materials</h3>
      <p class="ecp-modal--text">The information and materials provided through the Website, including without
        limitation, any data, text, graphics, images, audio and video clips, logos, icons, software and/or links
        (collectively, the &laquo;Materials&raquo;) are intended to&nbsp;educate and inform you about our service.
        Permission for all other uses of&nbsp;materials contained herein, including reproducing and distributing
        multiple copies, must be&nbsp;obtained from hubcloud.io in&nbsp;advance. For purposes of&nbsp;this Agreement,
        the use of&nbsp;any such material on&nbsp;any other Web site or&nbsp;networked computer environment is&nbsp;prohibited.
        All trademarks, service marks, and trade names are proprietary to&nbsp;HubCloud. Although Company strives to&nbsp;provide
        Materials that are both useful and accurate, data and other information change frequently and are subject to&nbsp;varying
        interpretations. In&nbsp;addition, the facts and circumstances of&nbsp;every situation differ. Accordingly,
        although Company endeavors to&nbsp;use reasonable care in&nbsp;assembling the Materials, the Materials may not
        be&nbsp;up-to-date, accurate or&nbsp;complete. In&nbsp;addition, portions of&nbsp;the Materials may have been
        contributed to&nbsp;the Website by&nbsp;various third parties and service providers. The inclusion of&nbsp;such
        information does not indicate any approval or&nbsp;endorsement of&nbsp;such providers or&nbsp;their products and
        services, and Company expressly disclaims any liability with respect to&nbsp;the foregoing.</p>
      <h3 class="ecp-modal--subtitle">Your Content and Information</h3>
      <p class="ecp-modal--text">All information, data, text, messages or&nbsp;other rich content you create using
        Website and its service is&nbsp;solely your responsibility. You must evaluate and bear all risks associated with
        the use of&nbsp;any of&nbsp;your Content.</p>
      <h3 class="ecp-modal--subtitle">Your Information</h3>
      <p class="ecp-modal--text">In&nbsp;order to&nbsp;access certain areas&nbsp;of, or&nbsp;participate in&nbsp;certain
        activities contained on&nbsp;the Website or&nbsp;communicate with&nbsp;us, we&nbsp;may require you to&nbsp;provide&nbsp;us
        with certain information about you (e.g., your name, phone number, e-mail address, etc). Providing&nbsp;us with
        your personal information is&nbsp;your own decision. Each time you decide to&nbsp;provide&nbsp;us with your
        personal information, you agree to&nbsp;provide accurate, current and complete information about yourself as&nbsp;prompted
        by&nbsp;our registration form (including your current e-mail address) and maintain and update your information
        to&nbsp;keep it&nbsp;accurate, complete and up-to-date. You acknowledge that, if&nbsp;any information provided
        by&nbsp;you is&nbsp;untrue, inaccurate, not current or&nbsp;incomplete, we&nbsp;have the right to&nbsp;terminate
        this Terms of&nbsp;Use Agreement and your use of&nbsp;the Website (or&nbsp;any portion thereof) or&nbsp;your
        participation in&nbsp;any activity contained on&nbsp;the Website.</p>
      <h3 class="ecp-modal--subtitle">Code of&nbsp;Conduct</h3>
      <p class="ecp-modal--text">While using the Website and/or Materials you agree not&nbsp;to:</p>
      <ul class="ecp-modal--list">
        <li>Restrict or&nbsp;inhibit any other user from using the Website or&nbsp;the Materials, including without
          limitation, by&nbsp;means of&nbsp;&laquo;hacking&raquo; or&nbsp;defacing any portion of&nbsp;the Website;
        </li>
        <li>Use the Website or&nbsp;Materials for any unlawful purpose or&nbsp;in&nbsp;any manner not intended by&nbsp;Company
          or&nbsp;as&nbsp;contemplated herein and on&nbsp;the Website;
        </li>
        <li>While using the Website, engage in&nbsp;rude, unlawful, harassing, vulgar, obscene, hateful, threatening,
          abusive or&nbsp;otherwise objectionable behavior;
        </li>
        <li>Institute an&nbsp;attack upon any server used in&nbsp;connection with the Website or&nbsp;any portion
          thereof or&nbsp;otherwise attempt to&nbsp;disrupt such servers;
        </li>
        <li>Express or&nbsp;imply that any statements you make are endorsed by&nbsp;us, without our prior express
          written consent;
        </li>
        <li>Knowingly transmit: (a) any content or&nbsp;information that is&nbsp;unlawful, fraudulent, threatening,
          abusive, libelous, defamatory, obscene or&nbsp;otherwise objectionable, or&nbsp;infringes our or&nbsp;any
          third party&rsquo;s intellectual property or&nbsp;other rights; (b) any material, non-public information about
          companies without the authorization to&nbsp;do&nbsp;so; &copy;&nbsp;any trade secret of&nbsp;any third party;
          or&nbsp;(d) any advertisements, solicitations, chain letters, pyramid schemes, investment opportunities or&nbsp;other
          unsolicited commercial communication (except as&nbsp;otherwise expressly permitted by&nbsp;us);
        </li>
        <li>Engage in&nbsp;any action that is&nbsp;in&nbsp;violation, contravention or&nbsp;circumvention of&nbsp;the
          Registered Apple Developer License and the Apple iPhone Developer Program License Agreement, Android Software
          Development Kit License Agreement and Blackberry License agreements as&nbsp;it&nbsp;may be&nbsp;amended from
          time to&nbsp;time; h. Engage in&nbsp;spamming or&nbsp;flooding;
        </li>
        <li>Transmit any software or&nbsp;other materials that contain any viruses, worms, trojan horses, defects, date
          bombs, time bombs or&nbsp;other items of&nbsp;a&nbsp;destructive nature;
        </li>
        <li>Modify, adapt, sublicense, translate, sell, reverse engineer, decompile or&nbsp;disassemble all or&nbsp;any
          portion of&nbsp;the Website or&nbsp;Materials;
        </li>
        <li>Remove, alter, conceal any copyright, trademark, patent or&nbsp;other proprietary rights notices contained
          in&nbsp;the Website or&nbsp;Materials;
        </li>
        <li>Link the website or&nbsp;any content thereon to&nbsp;any third party website or&nbsp;portion thereof without
          company&rsquo;s prior written comsent; m. Use any robot, spider, site search/retrieval application or&nbsp;other
          manual or&nbsp;automatic device or&nbsp;process to&nbsp;retrieve, index, &laquo;data mine&raquo; or&nbsp;in&nbsp;any
          way reproduce or&nbsp;circumvent the navigational structure or&nbsp;presentation of&nbsp;the Website or&nbsp;its
          contents; or&nbsp;n. Harvest or&nbsp;collect information about Website users without their express consent.
          While using the Site and/or Materials, you agree to&nbsp;comply with all applicable laws, rules and
          regulations.
        </li>
      </ul>
      <h3 class="ecp-modal--subtitle">Service usage</h3>
      <p class="ecp-modal--text">In&nbsp;order to&nbsp;access services provided by&nbsp;the Company you may be&nbsp;asked
        to&nbsp;provide information about yourself (for example registration, identification or&nbsp;contact details).
        Such information may be&nbsp;required during a&nbsp;registration process for a&nbsp;service. In&nbsp;such a&nbsp;case
        you agree that any information you provide will always be&nbsp;valid, accurate, correct and up&nbsp;to&nbsp;date.
        You definitely agree to&nbsp;use services provided by&nbsp;the Company only for purposes that are permitted by&nbsp;the
        ToS and any applicable law, regulation, service guidelines or&nbsp;accepted practices&nbsp;&mdash; those
        restrictions apply in&nbsp;the relevant jurisdiction. Furthermore you agree not to&nbsp;access&nbsp;&mdash; or&nbsp;attempt
        to&nbsp;access&nbsp;&mdash; services provided by&nbsp;the Company by&nbsp;any means other than through the
        provided interfaces or&nbsp;other related application programming interfaces, unless an&nbsp;explicit agreement
        between the Company and you was set&nbsp;up. You agree that you will not place any activity that may interfere
        with, interrupt or&nbsp;break down services provided by&nbsp;the Company. You agree that you will not reproduce,
        copy, duplicate, sell, resell or&nbsp;trade any services provided by&nbsp;the Company, unless you have been
        specially permitted to&nbsp;do&nbsp;so&nbsp;in&nbsp;a&nbsp;separate agreement with the Company. You agree that
        you&rsquo;re responsible&nbsp;&mdash; the Company has no&nbsp;responsibility to&nbsp;you or&nbsp;to&nbsp;any
        third party&nbsp;&mdash; for any breach of&nbsp;your obligations under the ToS and for all resulting
        consequences of&nbsp;any breach&nbsp;&mdash; including any loss or&nbsp;damage which the Company may suffer.</p>
      <h3 class="ecp-modal--subtitle">Payment and Refund</h3>
      <p class="ecp-modal--text">In&nbsp;consideration for using the Service, HubCloud charges recurring monthly or&nbsp;annual
        fees for paid accounts. The payment should be&nbsp;processed automatically once a&nbsp;month or&nbsp;year
        depending on&nbsp;the chosen payment cycle. HubCloud accepts payments through certain online payment methods
        (such as&nbsp;PayPal, FastSpring, ROBOCASSA and Braintree), that provide secure credit card payments through
        their systems, and create a&nbsp;payment subscription. You can easily cancel your subscription at&nbsp;any time.
        There are no&nbsp;cancellation fees, although no&nbsp;refunds are provided for pro-rated periods. Refunds may be&nbsp;issued
        for payments made no&nbsp;longer than 30&nbsp;days ago from the date of&nbsp;requesting the refund. Besides, we&nbsp;do&nbsp;not
        provide refunds for annual subscription payments, since annual payments are provided with a&nbsp;discount.</p>
      <h3 class="ecp-modal--subtitle">Third Parties</h3>
      <p class="ecp-modal--text">Any reference to&nbsp;any third party on&nbsp;the Website is&nbsp;provided to&nbsp;you
        for informational purposes only. Company encourages you to&nbsp;conduct your own research and due diligence
        regarding such third parties and their products and services. While Company works to&nbsp;ensure the information
        on&nbsp;the Website is&nbsp;current and accurate, Company does not warrant the accuracy of&nbsp;any information
        contained on&nbsp;the Website or&nbsp;its fitness for any particular purpose.</p>
      <h3 class="ecp-modal--subtitle">Compliance with Applicable Laws</h3>
      <p class="ecp-modal--text">Company reserves the right at&nbsp;all times to&nbsp;disclose any information as&nbsp;Company
        deems necessary to&nbsp;satisfy any applicable law, regulation, legal process or&nbsp;governmental request.</p>
      <h3 class="ecp-modal--subtitle">Acknowledgements</h3>
      <p class="ecp-modal--text">The information obtained pursuant to&nbsp;this Section will only be&nbsp;used for
        the purpose of&nbsp;identifying persons or&nbsp;entities not in&nbsp;compliance or&nbsp;believed by&nbsp;Company
        to&nbsp;not be&nbsp;in&nbsp;compliance with the Terms of&nbsp;Use or&nbsp;any other Company rule, policy, notice
        and/or agreement. You hereby agree and acknowledge that: (a) Company has the right to&nbsp;obtain without
        notification to&nbsp;you certain information about your computer or&nbsp;software, including, but not limited&nbsp;to,
        your operating system, identification of&nbsp;your hard drives, central processing unit, IP&nbsp;address, and
        Internet browser for purposes of&nbsp;identification; (b) Company has the right to&nbsp;obtain without
        notification to&nbsp;you non-personal information from your connection to&nbsp;the Website for demographic
        purposes; and &copy;&nbsp;Company has the right to&nbsp;obtain without notification to&nbsp;you information from
        your computer, software, and parts or&nbsp;portions thereof, including, but not limited&nbsp;to, your computer&rsquo;s
        random access memory, video card, central processing unit, hard drive(s) and any other storage devices in&nbsp;order
        to&nbsp;assist our efforts in&nbsp;policing users who may develop and/or use &laquo;hacks.&raquo;</p>
      <h3 class="ecp-modal--subtitle">Ownership and Restrictions on&nbsp;Use</h3>
      <p class="ecp-modal--text">The Website is&nbsp;owned and operated by&nbsp;Company in&nbsp;conjunction with
        others pursuant to&nbsp;contractual arrangements and the Materials (and any intellectual property and other
        rights relating thereto) are and will remain the property of&nbsp;Company and its licensors, customers,
        suppliers or&nbsp;other agents and designees as&nbsp;applicable. Other products or&nbsp;companies names
        mentioned herein or&nbsp;within the Website, including the names of&nbsp;customers and/or licensors, may be&nbsp;the
        trademarks or&nbsp;service marks of&nbsp;their respective owners. The Website and Materials, and the selection,
        compilation, collection, arrangement and assembly thereof, are protected by&nbsp;international copyright,
        trademark and other laws and you acknowledge that these rights are valid and enforceable. You may not copy,
        reproduce, republish, upload, post, transmit or&nbsp;distribute Materials or&nbsp;other content or&nbsp;information
        available on&nbsp;or&nbsp;through the Website in&nbsp;any way without our prior express written permission or&nbsp;a&nbsp;written
        agreement that specifically states otherwise. The Website and Materials can be&nbsp;used solely to&nbsp;the
        extent necessary for your authorized use of&nbsp;the Website, as&nbsp;provided in&nbsp;this Agreement or&nbsp;as&nbsp;expressly
        authorized in&nbsp;writing by&nbsp;Company&nbsp;or, if&nbsp;so&nbsp;indicated in&nbsp;writing by&nbsp;Company,
        its licensors or&nbsp;suppliers. Modification of&nbsp;the Website or&nbsp;the Materials or&nbsp;use of&nbsp;the
        Materials for any other purpose may be&nbsp;a&nbsp;violation of&nbsp;copyright and other proprietary rights and
        is&nbsp;strictly prohibited. You acknowledge that you do&nbsp;not acquire any ownership rights in&nbsp;or&nbsp;to&nbsp;the
        Website and its materials by&nbsp;using the Website. The trademarks, logos, and service marks displayed on&nbsp;the
        Website (collectively the &laquo;Trademarks&raquo;) are trademarks of&nbsp;Company, Company&rsquo;s licensors,
        customers, suppliers or&nbsp;other agents and designees and others. The Trademarks owned by&nbsp;Company,
        whether registered or&nbsp;unregistered, may not be&nbsp;used in&nbsp;connection with any product or&nbsp;service
        that is&nbsp;not Company&rsquo;s, in&nbsp;any way that is&nbsp;likely to&nbsp;cause confusion among consumers,
        or&nbsp;in&nbsp;any manner that disparages Company. Nothing contained on&nbsp;the Website should be&nbsp;construed
        as&nbsp;granting, by&nbsp;implication, estoppel or&nbsp;otherwise, any license or&nbsp;right to&nbsp;use any
        Trademark without the express written permission of&nbsp;Company, Company&rsquo;s licensors, customers,
        suppliers or&nbsp;other agents and designees, or&nbsp;the third party owner of&nbsp;any such Trademark. Misuse
        of&nbsp;any Trademarks is&nbsp;prohibited, and Company will aggressively enforce its intellectual property
        rights in&nbsp;such Trademarks, including via civil and criminal proceedings.</p>
      <h3 class="ecp-modal--subtitle">Eligibility and Use &amp;&nbsp;Access By&nbsp;Minors</h3>
      <p class="ecp-modal--text">You must be&nbsp;eighteen (18) years of&nbsp;age or&nbsp;over to&nbsp;use the
        Website. By&nbsp;using the Website, you represent and warrant that you are over eighteen (18) years of&nbsp;age
        or&nbsp;old and have the right, authority, and legal capacity to&nbsp;enter into this agreement and to&nbsp;abide
        by&nbsp;all of&nbsp;the terms and conditions of&nbsp;the Terms of&nbsp;Use.</p>
      <h3 class="ecp-modal--subtitle">Privacy/Security</h3>
      <p class="ecp-modal--text">You understand that any information provided by&nbsp;you or&nbsp;collected by&nbsp;us
        in&nbsp;connection with your use of&nbsp;the Website or&nbsp;its service and will be&nbsp;used in&nbsp;the
        manner described herein and pursuant to&nbsp;the terms and conditions of&nbsp;our Privacy Policy (available at&nbsp;the
        Site). You must read our Privacy Policy and if&nbsp;you do&nbsp;not agree to&nbsp;the terms of&nbsp;the Privacy
        Policy you may not use the Service. Without limiting the terms of&nbsp;the Privacy Policy, you acknowledge that
        we&nbsp;do&nbsp;not guarantee that your use of&nbsp;the Service and/or the information contained in&nbsp;your
        Account will be&nbsp;private or&nbsp;secure, and we&nbsp;are not responsible or&nbsp;liable to&nbsp;you for any
        lack of&nbsp;privacy or&nbsp;security you may experience. You are fully responsible for taking precautions and
        providing security measures best suited for your situation and intended use of&nbsp;the Service.</p>
      <h3 class="ecp-modal--subtitle">COPPA Compliance</h3>
      <p class="ecp-modal--text">The Services and Website of&nbsp;<b>HubCloud Inc.</b> are not intended for people under 13&nbsp;years
        of&nbsp;age. HubCloud&rsquo;s Services and Website are not developed or&nbsp;directed at&nbsp;children. We&nbsp;do&nbsp;not
        knowingly solicit or&nbsp;collect any personally identifiable information, including from children under the age
        of&nbsp;13, nor do&nbsp;we&nbsp;knowingly market our Services or&nbsp;Website to&nbsp;children under the age of&nbsp;13.</p>
      <h3 class="ecp-modal--subtitle">Submissions</h3>
      <p class="ecp-modal--text">We&nbsp;welcome your comments regarding the Website. However, any comments,
        feedback, notes, messages, ideas, suggestions or&nbsp;other communications (collectively, &laquo;Comments&raquo;)
        sent to&nbsp;Company shall be&nbsp;and remain the exclusive property of&nbsp;Company. Your submission of&nbsp;any
        such comments shall constitute an&nbsp;assignment to&nbsp;Company of&nbsp;all worldwide rights, titles and
        interests in&nbsp;all copyrights and other intellectual property rights in&nbsp;the Comments. Company will be&nbsp;entitled
        to&nbsp;use, reproduce, disclose, publish and distribute any material you submit for any purpose whatsoever,
        without restriction and without compensating you in&nbsp;any way. For this reason, we&nbsp;ask that you not send&nbsp;us
        any comments that you do&nbsp;not wish to&nbsp;assign to&nbsp;us, including any confidential information or&nbsp;any
        original creative materials such as&nbsp;stories, product ideas, computer code or&nbsp;original works.</p>
      <h3 class="ecp-modal--subtitle">Termination</h3>
      <p class="ecp-modal--text">This Agreement shall remain effective until terminated in&nbsp;accordance with its
        terms. Either party may terminate this Agreement immediately upon notice to&nbsp;the other party. In&nbsp;addition,
        we&nbsp;reserve the right to&nbsp;immediately terminate this Agreement and/or your access to&nbsp;and use of&nbsp;the
        Website or&nbsp;any portion thereof or&nbsp;any activity provided thereon, at&nbsp;any time and for any reason,
        with or&nbsp;without cause. Upon termination of&nbsp;this Agreement by&nbsp;either party, your right to&nbsp;use
        the Website shall immediately cease, and you shall immediately destroy all Materials obtained from the Website
        and all copies thereof, whether made under the terms of&nbsp;this Agreement or&nbsp;otherwise.</p>
      <h3 class="ecp-modal--subtitle">Disclaimers</h3>
      <p class="ecp-modal--text">THE WEBSITE AND ITS MATERIALS ARE PROVIDED &laquo;AS&nbsp;IS&raquo; AND WITHOUT
        WARRANTIES OF&nbsp;ANY KIND, EITHER EXPRESS OR&nbsp;IMPLIED. TO&nbsp;THE FULLEST EXTENT PERMISSIBLE PURSUANT TO&nbsp;APPLICABLE
        LAW, COMPANY AND ITS AGENTS, DISCLAIM&nbsp;ALL&nbsp;WARRANTIES, EXPRESS OR&nbsp;IMPLIED, INCLUDING, WITHOUT
        LIMITATION, IMPLIED WARRANTIES OF&nbsp;TITLE, NON-INFRINGEMENT, ACCURACY, MERCHANTABILITY AND FITNESS FOR A&nbsp;PARTICULAR
        PURPOSE, AND ANY WARRANTIES THAT MAY ARISE FROM COURSE OF&nbsp;DEALING, COURSE OF&nbsp;PERFORMANCE OR&nbsp;USAGE
        OF&nbsp;TRADE. COMPANY AND ITS AFFILIATES, LICENSORS, CUSTOMERS, SUPPLIERS, ADVERTISERS, SPONSORS AND AGENTS DO&nbsp;NOT
        WARRANT THAT YOUR USE OF&nbsp;THE WEBSITE OR&nbsp;THE MATERIALS WILL&nbsp;BE UNINTERRUPTED, ERROR-FREE OR&nbsp;SECURE,
        THAT DEFECTS WILL&nbsp;BE CORRECTED, OR&nbsp;THAT THE WEBSITE (OR&nbsp;ANY PART THEREOF INCLUDING THE
        MATERIALS), THE SERVER(S) ON&nbsp;WHICH THE WEBSITE IS&nbsp;HOSTED OR&nbsp;SOFTWARE ARE FREE OF&nbsp;VIRUSES OR&nbsp;OTHER
        HARMFUL COMPONENTS. YOU ACKNOWLEDGE THAT YOU ARE RESPONSIBLE FOR OBTAINING AND MAINTAINING ALL&nbsp;COMPUTER
        HARDWARE AND OTHER EQUIPMENT NEEDED TO&nbsp;ACCESS AND USE THE WEBSITE AND ALL&nbsp;CHARGES RELATED THERETO. YOU
        ASSUME ALL&nbsp;RESPONSIBILITY AND RISK FOR YOUR USE OF&nbsp;THE WEBSITE AND YOUR RELIANCE THEREON. NO&nbsp;OPINION,
        ADVICE OR&nbsp;STATEMENT OF&nbsp;COMPANY OR&nbsp;ITS AFFILIATES, LICENSORS, CUSTOMERS, SUPPLIERS, ADVERTISERS,
        SPONSORS, AGENTS, MEMBERS OR&nbsp;VISITORS, WHETHER MADE ON&nbsp;THE WEBSITE, IN&nbsp;THE MATERIALS OR&nbsp;OTHERWISE,
        SHALL&nbsp;CREATE ANY WARRANTY. YOUR USE OF&nbsp;THE WEBSITE AND ANY MATERIALS AND SERVICES PROVIDED THROUGH THE
        WEBSITE ARE ENTIRELY AT&nbsp;YOUR OWN RISK. A&nbsp;possibility exists that the Website (including the Materials,
        software and all other information or&nbsp;content on&nbsp;or&nbsp;accessible from the Website) could include
        inaccuracies or&nbsp;errors, or&nbsp;information or&nbsp;materials that violate this Agreement. Additionally, a&nbsp;possibility
        exists that unauthorized alterations could be&nbsp;made by&nbsp;third parties to&nbsp;the Website. Although we&nbsp;attempt
        to&nbsp;maintain and ensure the integrity of&nbsp;the Website, we&nbsp;make no&nbsp;guarantees as&nbsp;to&nbsp;the
        Website&rsquo;s completeness or&nbsp;correctness. In&nbsp;the event that a&nbsp;situation arises in&nbsp;which
        the Website&rsquo;s completeness or&nbsp;correctness is&nbsp;in&nbsp;question, please contact&nbsp;us
        atsupport@hubcloud.io with, if&nbsp;possible, a&nbsp;description of&nbsp;the material to&nbsp;be&nbsp;checked
        and the location (URL) where such material can be&nbsp;found on&nbsp;the Website, as&nbsp;well as&nbsp;information
        sufficient to&nbsp;enable&nbsp;us to&nbsp;contact you. We&nbsp;will try to&nbsp;address your concerns as&nbsp;soon
        as&nbsp;reasonably possible.</p>
      <h3 class="ecp-modal--subtitle">Limitation of&nbsp;Liability</h3>
      <p class="ecp-modal--text">COMPANY NOR ANY OF&nbsp;OUR DIRECTORS, OFFICERS, EMPLOYEES, CONSULTANTS, AGENTS OR&nbsp;OTHER
        REPRESENTATIVES, ARE RESPONSIBLE OR&nbsp;LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY,
        PUNITIVE OR&nbsp;OTHER DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF&nbsp;BUSINESS, LOSS OF&nbsp;DATA
        OR&nbsp;LOST PROFITS), UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR&nbsp;OTHER THEORY ARISING OUT OF&nbsp;OR&nbsp;RELATING
        IN&nbsp;ANY WAY TO&nbsp;THE WEBSITE AND/OR MATERIALS CONTAINED ON&nbsp;THE WEBSITE, THE MATERIALS, ANY LINKED
        WEBSITE OR&nbsp;ANY PRODUCT OR&nbsp;SERVICE PURCHASED THROUGH THIRD PARTIES APPEARING ON&nbsp;THE WEBSITE. YOUR
        SOLE REMEDY FOR DISSATISFACTION WITH THE WEBSITE, MATERIALS OR&nbsp;ANY LINKED WEBSITE IS&nbsp;TO&nbsp;STOP
        USING THE WEBSITE, MATERIALS OR&nbsp;LINKED WEBSITE, AS&nbsp;APPLICABLE. THE SOLE AND EXCLUSIVE MAXIMUM
        LIABILITY TO&nbsp;COMPANY FOR ALL&nbsp;DAMAGES, LOSSES AND CAUSES OF&nbsp;ACTION, WHETHER IN&nbsp;CONTRACT, TORT
        (INCLUDING, WITHOUT LIMITATION, NEGLIGENCE) OR&nbsp;OTHERWISE, SHALL&nbsp;BE THE TOTAL AMOUNT PAID&nbsp;BY YOU,
        IF&nbsp;ANY, TO&nbsp;ACCESS THE WEBSITE. BECAUSE SOME STATES OR&nbsp;JURISDICTIONS DO&nbsp;NOT ALLOW THE
        EXCLUSION OR&nbsp;LIMITATION OF&nbsp;LIABILITY FOR CONSEQUENTIAL OR&nbsp;INCIDENTAL DAMAGES, THE ABOVE
        LIMITATION MAY NOT APPLY TO&nbsp;YOU. YOU HEREBY ACKNOWLEDGE THAT THE PROVISIONS OF&nbsp;THIS SECTION SHALL&nbsp;APPLY
        TO&nbsp;ALL&nbsp;MATERIALS AND CONTENT ON&nbsp;THE WEBSITE. ANY REFERENCE TO&nbsp;A&nbsp;PERSON, ENTITY,
        PRODUCT, OR&nbsp;SERVICE ON&nbsp;THIS WEBSITE DOES NOT CONSTITUTE AN&nbsp;ENDORSEMENT OR&nbsp;RECOMMENDATION BY&nbsp;COMPANY
        OR&nbsp;ANY OF&nbsp;ITS EMPLOYEES UNLESS EXPRESSLY STATED OTHERWISE. COMPANY IS&nbsp;NOT RESPONSIBLE FOR THE
        CONTENTS OF&nbsp;ANY THIRD PARTY CONTENT ON&nbsp;THE WEBSITE OR&nbsp;THIRD PARTY WEB PAGE ACCESSED FROM THIS
        WEBSITE, NOR DOES COMPANY WARRANT THE ACCURACY OF&nbsp;ANY INFORMATION CONTAINED IN&nbsp;A&nbsp;THIRD PARTY
        WEBSITE OR&nbsp;ITS FITNESS FOR ANY PARTICULAR PURPOSE. IN&nbsp;NO&nbsp;EVENT ANY COMMUNICATION OF&nbsp;ANY KIND
        BETWEEN YOU AND COMPANY OR&nbsp;A&nbsp;REPRESENTATIVE OF&nbsp;COMPANY SHALL&nbsp;CONSTITUTE A&nbsp;WAIVER OF&nbsp;ANY
        LIMITATIONS OF&nbsp;LIABILITY HEREUNDER OR&nbsp;CREATE ANY ADDITIONAL WARRANTY NOT EXPRESSLY STATED IN&nbsp;THE
        TERMS OF&nbsp;USE. COMPANY RESERVES THE RIGHT TO&nbsp;REMOVE ANY MATERIAL POSTED ON&nbsp;THE WEBSITE THAT IT&nbsp;DETERMINES
        IN&nbsp;ITS SOLE DISCRETION IS&nbsp;VIOLATIVE OF&nbsp;ANY LAW OR&nbsp;RIGHT OF&nbsp;ANY PERSON, INFRINGES THE
        RIGHTS OF&nbsp;ANY PERSON, OR&nbsp;IS&nbsp;OTHERWISE INAPPROPRIATE FOR POSTING ON&nbsp;THE WEBSITE.</p>
      <h3 class="ecp-modal--subtitle">Indemnification</h3>
      <p class="ecp-modal--text">You agree to&nbsp;indemnify, defend and hold Company, our affiliates, licensors,
        suppliers, advertisers and sponsors, and our and their directors, officers, employees, consultants, agents and
        other representatives, harmless from and against any and all claims, damages, losses, costs (including
        reasonable attorneys&rsquo; fees) and other expenses that arise directly or&nbsp;indirectly out of&nbsp;or&nbsp;from:
        (a) your breach of&nbsp;this Agreement, including any violation of&nbsp;the Code of&nbsp;Conduct above; (b) any
        allegation that any submission or&nbsp;other materials you submit to&nbsp;us or&nbsp;transmit to&nbsp;the
        Website infringe or&nbsp;otherwise violate the copyright, trademark, trade secret or&nbsp;other intellectual
        property or&nbsp;other rights of&nbsp;any third party; and/or &copy;&nbsp;your use of&nbsp;the Website.</p>
      <h3 class="ecp-modal--subtitle">Questions</h3>
      <p class="ecp-modal--text">The Website is&nbsp;the property of&nbsp;<b>HubCloud Inc.</b> If&nbsp;you have any
        questions, comments or&nbsp;complaints regarding this Terms of&nbsp;Use Agreement or&nbsp;the Website, feel free
        to&nbsp;contact&nbsp;us at&nbsp;support@hubcloud.io.</p>
      <h3 class="ecp-modal--subtitle">Statute of&nbsp;Limitations</h3>
      <p class="ecp-modal--text">Any claim or&nbsp;cause of&nbsp;action arising out of&nbsp;or&nbsp;related to&nbsp;use
        of&nbsp;the Website, the Materials or&nbsp;these Terms of&nbsp;Use must be&nbsp;filed within one (1) year after
        such claim or&nbsp;cause or&nbsp;action arose regardless of&nbsp;any status or&nbsp;law to&nbsp;the contrary. In&nbsp;the
        event any such claim or&nbsp;cause of&nbsp;action is&nbsp;not filed within such one (1) year period, such claim
        or&nbsp;cause of&nbsp;action shall be&nbsp;forever barred.</p>
      <h3 class="ecp-modal--subtitle">Other</h3>
      <p class="ecp-modal--text">This Agreement constitutes the entire agreement of&nbsp;the parties with respect to&nbsp;its
        subject matter and replaces and supersedes any prior written or&nbsp;verbal communications, representations,
        proposals or&nbsp;quotations on&nbsp;that subject matter.</p>
      <p class="ecp-modal--text">Please read the Website&rsquo;s <a href="https://hubcloud.io/privacy-policy/" target="_blank">Privacy Policy.</a></p>
    </div>
  </div>
</div>
