//*
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Montserrat", sans-serif;
//* Размеры шрифта
$font-size:(
    'default':  12px,
    'lg':       20px,
);
//* Глобальные настройки (body)
$global-settings:(
    'font': $font-primary,
    'line-height': 1.2,
    'font-weight': 400,
    'color': #000,
    'bg': null
);

//* базавая настройка скорости анимаций
$td: 400ms;

//* Размеры макета (дизайн макета):
$layout-size: 1920;
//* Требуется для работы функции size-clamp, rem
//* src\scss\core\functions\_size.scss
//* src\scss\layout\_root.scss
//?                                                                                               тут
//* Учавствует в calc(50px + (100 - 50) * ((var(--size-window) - var(--width-window-px)) / (#{$layout-size} - var(--width-window))));
