<section id="advantages" class="advantages">
  <div class="container">
    <div class="grid g:columns-6">
      <div class="col-3@md col-2@xl">
        <div class="advantage advantage_1" data-aos="fade-up">
          <div class="adaptive-box">
            <img class="adaptive-box__image lazy" data-src="images/advantages/icon_1.png" src="images/global/lazyload.png"
                 srcset="images/advantages/icon_1@2x.png 2x" alt="" loading="lazy"/>
          </div>
          <h4 class="advantage--title">Manage your boats in&nbsp;one place:</h4>
          <ul class="list">
            <li>HubCloud aggregates all vessels from various booking platforms into a&nbsp;single system to&nbsp;help
              you make up&nbsp;and share a&nbsp;personalized offer
            </li>
            <li>Spend&nbsp;95% less time to&nbsp;make up&nbsp;an&nbsp;offer for your client</li>
          </ul>
        </div>
      </div>
      <div class="col-3@md col-2@xl">
        <div class="advantage advantage_2" data-aos="fade-up">
          <div class="adaptive-box">
            <img class="adaptive-box__image lazy" data-src="images/advantages/icon_2.png" src="images/global/lazyload.png"
                 srcset="images/advantages/icon_2@2x.png 2x" alt="" loading="lazy"/>
          </div>
          <h4 class="advantage--title">Customize your offer:</h4>
          <ul class="list">
            <li>Implement your own design</li>
            <li>Add high-quality pictures</li>
            <li>Customize boat description</li>
            <li>Adjust your commission rules</li>
          </ul>
        </div>
      </div>
      <div class="col-3@md col-2@xl">
        <div class="advantage advantage_3" data-aos="fade-up">
          <div class="adaptive-box">
            <img class="adaptive-box__image lazy" data-src="images/advantages/icon_3.png" src="images/global/lazyload.png"
                 srcset="images/advantages/icon_3@2x.png 2x" alt="" loading="lazy"/>
          </div>
          <h4 class="advantage--title">Automated booking:</h4>
          <ul class="list">
            <li>One-click away from booking a&nbsp;boat</li>
            <li>Automated connection to&nbsp;every charter company in&nbsp;Europe</li>
            <li>In-built document exchange</li>
          </ul>
        </div>
      </div>
      <div class="col-3@md col-2@xl">
        <div class="advantage advantage_4" data-aos="fade-up">
          <div class="adaptive-box">
            <img class="adaptive-box__image lazy" data-src="images/advantages/icon_4.png" src="images/global/lazyload.png"
                 srcset="images/advantages/icon_4@2x.png 2x" alt="" loading="lazy"/>
          </div>
          <h4 class="advantage--title">Document flow:</h4>
          <ul class="list">
            <li>Send a&nbsp;custom charter agreement in&nbsp;one click</li>
            <li>Send an&nbsp;invoice with a&nbsp;custom commission in&nbsp;a&nbsp;few seconds</li>
          </ul>
        </div>
      </div>
      <div class="col-3@md col-2@xl">
        <div class="advantage advantage_5" data-aos="fade-up">
          <div class="adaptive-box">
            <img class="adaptive-box__image lazy" data-src="images/advantages/icon_5.png" src="images/global/lazyload.png"
                 srcset="images/advantages/icon_5@2x.png 2x" alt="" loading="lazy"/>
          </div>
          <h4 class="advantage--title">Priority fleet:</h4>
          <ul class="list">
            <li>Manually add your own boats for a&nbsp;priority search</li>
          </ul>
        </div>
      </div>
      <div class="col-3@md col-2@xl">
        <div class="advantage advantage_6" data-aos="fade-up">
          <div class="adaptive-box">
            <img class="adaptive-box__image lazy" data-src="images/advantages/icon_6.png" src="images/global/lazyload.png"
                 srcset="images/advantages/icon_6@2x.png 2x" alt="" loading="lazy"/>
          </div>
          <h4 class="advantage--title">Benefits:</h4>
          <ul class="list">
            <li>Saving up&nbsp;to&nbsp;95% of&nbsp;the time to&nbsp;make up&nbsp;and send the offer</li>
            <li>25% decrease in&nbsp;extra payroll</li>
            <li>186% increase in&nbsp;lead processing capacity</li>
            <li>312% increase in&nbsp;Annual Recurring Revenue</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
