<section id="client-manager" class="client-manager">
  <div class="container">
    <h2 class="title title--size-lg" data-aos="fade-up">Client Manager</h2>
    <p class="text" data-aos="fade-up">Use the Client Manager Module to&nbsp;nourish customer relationships by&nbsp;implementing data
      analysis to&nbsp;research large volumes of&nbsp;customer information and generate valuable insights.</p>
    <div class="client-manager--grid">
      <div class="client-manager--details">
        <h4 class="client-manager--title" data-aos="fade-up">Customer data</h4>
        <ul class="list" data-aos="fade-up">
          <li>Store data in&nbsp;one place</li>
          <li>Track relationship status</li>
          <li>Exchange files and offers</li>
          <li>No&nbsp;need for external CRM</li>
          <li>Track payments and other finances</li>
          <li>Issue invoices (recurred or&nbsp;immediate)</li>
        </ul>
        <h4 class="client-manager--title" data-aos="fade-up">Marketing support</h4>
        <ul class="list" data-aos="fade-up">
          <li>Launch marketing campaigns</li>
          <li>View marketing channels report</li>
          <li>Get a&nbsp;real cost per lead, prospect, customer</li>
          <li>Track an&nbsp;actual customer value</li>
          <li>Track employees&rsquo; KPIs and set new goals</li>
        </ul>
        <h4 class="client-manager--title" data-aos="fade-up">Customer data</h4>
        <ul class="list" data-aos="fade-up">
          <li>Cut up&nbsp;to&nbsp;$500 monthly on&nbsp;managing multiple platforms</li>
          <li>Boost customer loyalty rates</li>
          <li>Track employees&rsquo; KPIs and set new goals</li>
        </ul>
        <button class="btn btn--primary btn--size-md" data-modal-open="modal-form" data-aos="fade-up">Client Manager</button>
      </div>
      <div class="adaptive-box client-manager--image" data-aos="fade-up">
          <picture>
            <source srcset="images/client-manager/photo_lg.png, images/client-manager/photo_lg@2x.png 2x"
                    media="(min-width: 768px)">
            <img class="adaptive-box__image lazy" data-src="images/client-manager/photo.png"
                 src="images/global/lazyload.png"
                 srcset="images/client-manager/photo@2x.png 2x" alt="" loading="lazy"/>
          </picture>
        </div>
    </div>
  </div>
</section>
