<section id="cover" class="cover">
  <div class="container">
    <div class="grid g:columns-2 g:columns-12@lg m:align-center@lg">
      <div class="col-7@lg">
        <h1 class="title title--size-lg" data-aos="fade-up">Management software</h1>
        <button class="btn btn--primary btn--size-md" data-modal-open="modal-form" data-aos="fade-up">More
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#more"></use>
          </svg>
        </button>
      </div>
      <div class="col-4@lg g:cs-9@lg">
        <div class="adaptive-box cover--image" data-aos="fade-up">
          <picture>
            <source srcset="images/cover/photo_lg.png, images/cover/photo_lg@2x.png 2x" media="(min-width: 768px)">
            <img class="adaptive-box__image lazy" data-src="images/cover/photo.png" src="images/global/lazyload.png"
                 srcset="images/cover/photo@2x.png 2x" alt="" loading="lazy"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
