<section id="customize" class="customize">
  <div class="container">
    <h2 class="title title--size-lg" data-aos="fade-up">Customize Your HubCloud</h2>
    <div class="grid g:columns-2 g:columns-12@lg m:align-center@lg">
      <div class="col-5@lg">
        <p class="text" data-aos="fade-up">It&rsquo;s not just a&nbsp;system for every Yacht Charter company. Your company needs a&nbsp;system that will reflect your unique business processes. HubCloud adapts to&nbsp;the individual ways of&nbsp;doing business and the individual needs of&nbsp;your clients.</p>
        <h3 class="title title--size-sm" data-aos="fade-up">What&rsquo;s Inside</h3>
        <p class="text" data-aos="fade-up">HubCloud Charter Management Platform is a&nbsp;modular system. Use the full potential of&nbsp;the predesigned modules to&nbsp;manage the entire company&rsquo;s workflow.</p>
        <button class="btn btn--primary btn--size-md" data-modal-open="modal-form" data-aos="fade-up">Customize your HubCloud</button>
      </div>
      <div class="col-5@lg g:cs-8@lg">
        <div class="adaptive-box customize--image" data-aos="fade-up">
          <picture>
            <source srcset="images/customize/photo_lg.png, images/customize/photo_lg@2x.png 2x" media="(min-width: 768px)">
            <img class="adaptive-box__image lazy" data-src="images/customize/photo.png" src="images/global/lazyload.png"
                 srcset="images/customize/photo@2x.png 2x" alt="" loading="lazy"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
