<section id="features" class="features">
  <div class="container">
    <div class="features--grid">
      <h2 class="title title--size-lg" data-aos="fade-up">HubCloud Key Features</h2>
      <div class="adaptive-box features--image" data-aos="fade-up">
        <picture>
          <source srcset="images/features/photo_lg.jpg, images/features/photo_lg@2x.jpg 2x" media="(min-width: 768px)">
          <img class="adaptive-box__image lazy" data-src="images/features/photo.jpg" src="images/global/lazyload.png"
               srcset="images/features/photo@2x.jpg 2x" alt="" loading="lazy"/>
        </picture>
      </div>
      <div class="grid g:columns-2 tile">
        <div class="col-1@md">
          <div class="feature" data-aos="fade-up">
            <div class="adaptive-box">
              <img class="adaptive-box__image lazy" data-src="images/features/icon_1.png" src="images/global/lazyload.png"
                   srcset="images/features/icon_1@2x.png 2x" alt="" loading="lazy"/>
            </div>
            <div class="feature--title">Cloud-Based App</div>
            <div class="feature--description">Access your workspace directly from a&nbsp;web browser</div>
          </div>
        </div>
        <div class="col-1@md">
          <div class="feature" data-aos="fade-up">
            <div class="adaptive-box">
              <img class="adaptive-box__image lazy" data-src="images/features/icon_2.png" src="images/global/lazyload.png"
                   srcset="images/features/icon_2@2x.png 2x" alt="" loading="lazy"/>
            </div>
            <div class="feature--title">Unlimited Users</div>
            <div class="feature--description">Invite an&nbsp;unlimited number of&nbsp;team members</div>
          </div>
        </div>
        <div class="col-1@md">
          <div class="feature" data-aos="fade-up">
            <div class="adaptive-box">
              <img class="adaptive-box__image lazy" data-src="images/features/icon_3.png" src="images/global/lazyload.png"
                   srcset="images/features/icon_3@2x.png 2x" alt="" loading="lazy"/>
            </div>
            <div class="feature--title">Monthly Billing</div>
            <div class="feature--description">Activate your plan quickly with ...</div>
          </div>
        </div>
        <div class="col-1@md">
          <div class="feature" data-aos="fade-up">
            <div class="adaptive-box">
              <img class="adaptive-box__image lazy" data-src="images/features/icon_4.png" src="images/global/lazyload.png"
                   srcset="images/features/icon_4@2x.png 2x" alt="" loading="lazy"/>
            </div>
            <div class="feature--title">Apps &amp;&nbsp;Integrations</div>
            <div class="feature--description">All must-have booking platforms in&nbsp;one place:</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
