<section id="feedback" class="feedback">
  <div class="container">
    <form class="form js-form">
      <div class="grid g:columns-2">
        <div class="col-1@md">
          <div class="feedback--content">
            <div class="feedback--content-title">DO&nbsp;YOU HAVE QUESTIONS?</div>
            <div class="feedback--content-subtitle">Write to&nbsp;us</div>
            <div class="feedback--content-text">By&nbsp;clicking, you consent to&nbsp;the processing<br> of&nbsp;your personal data</div>
          </div>
        </div>
        <div class="col-1@md">
          <label class="form-field">
            <input class="form-field__input" placeholder="Name" type="text" name="name" required>
            <span class="form-field__text">Name <span>*</span></span>
            <span class="form-field__required">Enter a name</span>
          </label>
          <label class="form-field">
            <input class="form-field__input form-phone" placeholder="phone" type="tel" name="phone" required>
            <span class="form-field__text">Phone <span>*</span></span>
            <span class="form-field__required">Specify phone</span>
          </label>
          <div class="form-send">
            <div class="form-send__message">
              <div class="form-send__loading"><span></span></div>
              <p class="form-send__success">Thank you, your application has been accepted. The manager will contact you
                shortly</p>
              <p class="form-send__error">Something went wrong. Application not sent.</p>
            </div>
            <button type="submit" class="form-send__btn btn btn--primary btn--size-md">Call me</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
