<section id="fleet-manager" class="fleet-manager">
  <div class="container">
    <h2 class="title title--size-lg" data-aos="fade-up">Fleet Manager</h2>
    <div class="grid g:columns-2 m:align-center-y@lg">
      <div class="col-1@lg">
        <p class="text" data-aos="fade-up">Use the Fleet Manager module to&nbsp;manage every boat and track its activity throughout the year. The Fleet Manager module closely connects to&nbsp;the Client Manager module to&nbsp;synchronize related data.</p>
        <h3 class="title title--size-sm" data-aos="fade-up">Features</h3>
        <ul class="list" data-aos="fade-up">
          <li>Track booking status for each vessel with Charter Calendar</li>
          <li>See boat location with GPS tracking on&nbsp;Google Maps</li>
          <li>View Detailed Maintenance Log. Pick a&nbsp;boat to&nbsp;view its maintenance history (date, procedure, cost, payer details).</li>
          <li>Use Maintenance Schedule to&nbsp;schedule and track seasonal maintenance. Report maintenance schedule to&nbsp;boat owners on&nbsp;time.</li>
        </ul>
        <h3 class="title title--size-sm" data-aos="fade-up">Benefits</h3>
        <ul class="list" data-aos="fade-up">
          <li>Manage every boat and track its activity throughout the year</li>
          <li>Synchronize the Fleet Manager and Client Manager modules&rsquo; related data</li>
        </ul>
        <button class="btn btn--primary btn--size-md" data-modal-open="modal-form" data-aos="fade-up">Charter Manager</button>
      </div>
      <div class="col-1@lg">
        <div class="adaptive-box fleet-manager--image" data-aos="fade-up">
          <picture>
            <source srcset="images/fleet/photo_lg.png, images/fleet/photo_lg@2x.png 2x" media="(min-width: 768px)">
            <img class="adaptive-box__image lazy" data-src="images/fleet/photo.png" src="images/global/lazyload.png"
                 srcset="images/fleet/photo@2x.png 2x" alt="" loading="lazy"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
