<section id="modules" class="modules">
  <div class="container">
    <h2 class="title title--size-lg" data-aos="fade-up">Modules</h2>
    <div class="modules--table-wrapper" data-aos="fade-up">
      <div class="modules--table">
        <div class="modules--table-header">Module</div>
        <div class="modules--table-header">YCAs</div>
        <div class="modules--table-header">YCCs</div>
        <div class="modules--table-cell pb">Charter Manager</div>
        <div class="modules--table-cell">
          <svg class="modules--table-yes icon">
            <use xlink:href="svg-sprite/sprite.svg#yes"></use>
          </svg>
        </div>
        <div class="modules--table-cell">
          <svg class="modules--table-yes icon">
            <use xlink:href="svg-sprite/sprite.svg#yes"></use>
          </svg>
        </div>
        <div class="modules--table-cell pb">Client Manager (CRM)</div>
        <div class="modules--table-cell">
          <svg class="modules--table-yes icon">
            <use xlink:href="svg-sprite/sprite.svg#yes"></use>
          </svg>
        </div>
        <div class="modules--table-cell">
          <svg class="modules--table-yes icon">
            <use xlink:href="svg-sprite/sprite.svg#yes"></use>
          </svg>
        </div>
        <div class="modules--table-cell pb">Saturday Planning</div>
        <div class="modules--table-cell">
          <svg class="modules--table-no icon">
            <use xlink:href="svg-sprite/sprite.svg#no"></use>
          </svg>
        </div>
        <div class="modules--table-cell">
          <svg class="modules--table-yes icon">
            <use xlink:href="svg-sprite/sprite.svg#yes"></use>
          </svg>
        </div>
        <div class="modules--table-cell">Fleet Manager</div>
        <div class="modules--table-cell">
          <svg class="modules--table-no icon">
            <use xlink:href="svg-sprite/sprite.svg#no"></use>
          </svg>
        </div>
        <div class="modules--table-cell">
          <svg class="modules--table-yes icon">
            <use xlink:href="svg-sprite/sprite.svg#yes"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
