<section id="needs" class="needs">
  <div class="container">
    <h2 class="title title--size-lg" data-aos="fade-up">Who needs HubCloud?</h2>
    <div class="grid g:columns-2">
      <div class="col-1@md">
        <div class="needs--item" data-aos="fade-up">
          <div class="adaptive-box">
            <picture>
              <img class="adaptive-box__image lazy" data-src="images/needs/icon_1.png" src="images/global/lazyload.png"
                   srcset="images/needs/icon_1@2x.png 2x" alt="" loading="lazy"/>
            </picture>
          </div>
          <div class="needs--item-details">
            <h4 class="needs--item-title">Yacht Charter Companies</h4>
            <div class="needs--item-description">You help rent sailboats or&nbsp;motor yachts for traveling to&nbsp;coastal
              and island destinations
            </div>
          </div>
        </div>
      </div>
      <div class="col-1@md">
        <div class="needs--item" data-aos="fade-up">
          <div class="adaptive-box">
            <img class="adaptive-box__image lazy" data-src="images/needs/icon_2.png" src="images/global/lazyload.png"
                 srcset="images/needs/icon_2@2x.png 2x" alt="" loading="lazy"/>
          </div>
          <div class="needs--item-details">
            <h4 class="needs--item-title">Yacht Charter Agencies</h4>
            <div class="needs--item-description">You make things happen&nbsp;&mdash; from idea to&nbsp;a&nbsp;full-scale
              smooth and stress-free sail
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
