<section id="planing" class="planing">
  <div class="container">
    <h2 class="title title--size-lg" data-aos="fade-up">Saturday Planning</h2>
    <div class="grid g:columns-2 g:columns-12@lg m:align-center@lg">
      <div class="col-5@lg">
        <p class="text" data-aos="fade-up">Use the Fleet Manager module to&nbsp;manage every boat and track its activity throughout the year. The Fleet Manager module closely connects to&nbsp;the Client Manager module to&nbsp;synchronize related data.</p>
        <h3 class="title title--size-sm" data-aos="fade-up">Benefits</h3>
        <ul class="list" data-aos="fade-up">
          <li>Customers receive the exact check-in time</li>
          <li>Customer loyalty increases because you are always on&nbsp;time</li>
          <li>Staff receive the exact work schedule</li>
          <li>Your company outperforms on&nbsp;Saturday rush</li>
          <li>Overall company performance grows due to&nbsp;thorough scheduling</li>
        </ul>
        <button class="btn btn--primary btn--size-md" data-modal-open="modal-form" data-aos="fade-up">Saturday Planning</button>
      </div>
      <div class="col-4@lg g:cs-9@lg">
        <div class="adaptive-box planing--image" data-aos="fade-up">
          <picture>
            <source srcset="images/planing/photo_lg.png, images/planing/photo_lg@2x.png 2x" media="(min-width: 768px)">
            <img class="adaptive-box__image lazy" data-src="images/planing/photo.png" src="images/global/lazyload.png"
                 srcset="images/planing/photo@2x.png 2x" alt="" loading="lazy"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
